:root {
    --red:#ff6f69;
    --beige: #ffeead;
    --yellow:#ffcc5c;
}

html, body {
    background: var(--beige);
    color: var(--red);
}

#navbar a {
    color: var(--red);
}

.item {
    --item-yellow:#fffc5c ;
}

.item {
    --red:#ff8e69; 
    /*todo lo que esta dentro de item se cambia de color*/
    background: var(--item-yellow);
}

button {
    background: var(--red);
    color: var(--item-yellow);
}